<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:tiles="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org" th:lang="${#locale.language}">

<head th:replace="/fragments/header-include :: header-include">
  <link th:href="@{/assets/bootstrap/3.3.5/css/bootstrap.min.css}" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
  
  <title>Login</title>
</head>


<body>
   
<div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title" th:text="#{login.sign.in}">Please Sign In</h3>
                    </div>
                    <div class="panel-body">
                        <form accept-charset="UTF-8" role="form" th:action="@{/login}" method="post">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" th:placeholder="#{login.username}" placeholder="Username" name="username" type="text" />
                                </div>
                                <div class="form-group">
                                    <input class="form-control" th:placeholder="#{login.password}" placeholder="Password" name="password" type="password" value="" />
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox" th:text="#{login.remember.me}" value="Remember Me" /> 
                                    </label>
                                </div>
                                <input th:text="#{login.submit}" class="btn btn-lg btn-success btn-block" type="submit" name="Login"></input>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="/fragments/footer-include :: footer-include">
       <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" th:src="@{/assets/bootstrap/3.3.5/js/bootstrap.min.js}"/> 
      <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js" th:src="@{/assets/jquery/2.1.4/jquery.min.js}"/> 
    </div>
</body>




</html>